GameSystem/Service References/ws/GPFservice3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="roomer">
    <xs:sequence>
      <xs:element minOccurs="0" name="delay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="houseowner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="number" type="xs:int" />
      <xs:element minOccurs="0" name="roomid" type="xs:int" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="roomer" nillable="true" type="tns:roomer" />
  <xs:complexType name="info">
    <xs:sequence>
      <xs:element minOccurs="0" name="State" type="xs:int" />
      <xs:element minOccurs="0" name="age" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sex" type="tns:Sex" />
      <xs:element minOccurs="0" name="zh" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="info" nillable="true" type="tns:info" />
  <xs:simpleType name="Sex">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:element name="Sex" nillable="true" type="tns:Sex" />
  <xs:complexType name="ArrayOfxianshi">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="xianshi" nillable="true" type="tns:xianshi" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfxianshi" nillable="true" type="tns:ArrayOfxianshi" />
  <xs:complexType name="xianshi">
    <xs:sequence>
      <xs:element minOccurs="0" name="age" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="zh" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="xianshi" nillable="true" type="tns:xianshi" />
  <xs:complexType name="LoginTag">
    <xs:sequence>
      <xs:element minOccurs="0" name="singe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginTag" nillable="true" type="tns:LoginTag" />
  <xs:complexType name="ArrayOfroomer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="roomer" nillable="true" type="tns:roomer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfroomer" nillable="true" type="tns:ArrayOfroomer" />
</xs:schema>